.movie_detail_wrap {
    position: relative;
    padding: 40px 20px 20px;
    text-align: left;
    color: $White;
    .btn_back {
        position: absolute;
        top: 6px;
        left: 20px;
        font-size: 24px;
    }
    .top{
        .img_wrap {
            position: relative;
            .movie_detail_backdrop {
                width: 100%;
                border-radius: 8px;
            }
            .btn_favorites {
                position: absolute;
                right: 15px;
                bottom: 15px;
                font-size: 28px;
                color: red;
            }
        }
        h2 {
            margin: 12px 0 8px 0;
            font-size: 32px;
            color: #fefefe;
        }
        .label_wrap {
            display: flex;
            gap: 4px;
            .label {
                display: inline-block;
                background-color: #4f4e4e;
                padding: 2px 4px;
                border-radius: 4px;
                font-size: 12px;
            }
        }
        .desc {
            margin-top: 10px;
            font-size: 18px;
            color: #eee;
        }
        .date {
            margin-top: 10px;
            font-size: 16px;
            color: #eee;
            span { font-weight: 500; }
        }
    }


    .rating_wrap {
        margin-top: 20px;
        p {
            font: {
                size: 18px;
                weight: 700;
            }
        }
        .form {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            input {
                width: 60px;
                height: 40px;
                text-align: center;
                padding: 4px 8px;
                margin-right: 10px;
                font-size: 20px;
                border-bottom: 1px solid #ccc;
            }
            button {
                padding: 10px 20px;
                height: 40px;
                color: white;
                border-radius: 5px;
                font-weight: bold;
                cursor: pointer;
            }
            .btn_wrap {
                display: flex;
                gap: 4px;
                [class^="btn_"] {
                    border-radius: 5px;
                    background-color: #333;
                    font-size: 16px;
                }
            }
        }
    }
    .ratings_list {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        p {
            font: {
                size: 18px;
                weight: 700;
            }
        }
        span {
            font: {
                size: 16px;
                weight: 500;
            }
        }
    }
}